.user {
  display: flex;
  align-items: center;
  height: 23px;
  justify-content: flex-end;

  p {
    .font(16px; 600; 19px);
    padding-right: 10px;
    width: max-content;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__changename {
    display: flex;

    .change-name {
      width: max-content;
      height: 20px;
      display: none;
      border: none;
      border-bottom: 1px solid;
      outline: none;
      .font(16px; 600; 19px);
      font-family: "Rubik", "Arial", sans-serif;
      margin-right: 10px;

      &::-ms-clear {
        display: none;
      }
    }

    .name-save {
      display: none;
      background: none;
      margin: 5px 10px 0 -25px;
      height: 9px;
      width: 15px;
      outline: none;
      cursor: pointer;
      border: solid @main-red;
      border-width: 0 0 2px 2px;
      transform: rotate(315deg);
    }
  }

  &__logout {
    display: none;
    background: none;
    outline: none;
    border: none;
    font-family: "Rubik", "Arial", sans-serif;
    .font(16px; 600; 19px);
    color: @main-red;
    cursor: pointer;
  }

  &__login-btn {
    .button();
  }
}


@media (min-width: @tablet-width) {
  .user {
    width: 182px;
    height: auto;

    &__changename {
      .change-name {
        width: 130px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .user {
    &__changename {
      .change-name {
        width: max-content;
      }

      &:hover {
        .name-save {
          display: block;
        }
      }
    }
  }
}
